<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersistenceLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>429AD0941900B2EA001C02CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42AAF70A18FF714C006D30CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42AAF71A18FF714C006D30CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
